:root{
    --mainBlue:#1515bd;
    --lightBlue:#009ffd;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#ffa400;
}
.lgn-bg{
    background-image: url('../images/mall.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}
.vertical-center{
    min-height: 100%;  
    min-height: 100vh;

    display: flex;
    align-items: center;
}
body{
	background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}
.admin-btn-position{
	position: absolute;
	top: 10px;
	right: 10px;
}
.backgrnd{
	color: #1515bd !important;
}
.button{
	background: transparent;
	text-transform: capitalize;
	font-size: 1.4rem;
	border: 0.05rem solid skyblue;
	color: skyblue;
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;
	cursor: pointer;
	margin: 0.2rem 0.5rem 0.2rem 0rem;
	transition: all 0.5s ease-in-out;
}
.button:hover{
	background: skyblue;
	color: darkblue;
}
.button:focus{
	outline: none;
}
.icon{
	height: 40px !important;
}
.card:hover{
    border: 0.04rem solid rgba(0, 0, 0, 0.2);
    border-left: 0rem;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.card:hover .card-footer{
    background:rgba(247,247,247);
}
.img-container{
	position: relative;
	overflow: hidden;
}
.card-img-top{
	transition: all 0.5s linear;
}
.img-container:hover .card-img-top{
	transform: scale(1.5);
}
.cart-btn{
	position: absolute;
    bottom: 0;
    right: 0;
    background: #009ffd;
    border: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem 0 0 0;
    transform: translate(100%, 100%);
    transition: all 0.6s linear;
}
.img-container:hover .cart-btn{
	transform: translate(0,0);
}
.affix{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}
.disabled{
	opacity: 0.4;
	cursor: not-allowed;
}
.employee-row{
	transition: all 0.4s linear;
}
.employee-row:hover{
	background-color: var(--lightBlue) !important;
	font-weight: bold;
	color: var(--mainWhite) !important;
	transform: scale3d(1.1,1,1) translateY(-13px);
	box-shadow: 15px 15px 8px darkgrey;
}
